li {
	list-style: none;
}

.header {
	font-size: larger;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}

.studentsList {
	margin: 0px 5px;
	padding: 0 10px;
	min-width: 84%;
	overflow-x: auto;
}

.searchBar {
	margin: 0px 50px;
	padding: 5px 0px;
	position: relative;
}

.form {
	margin: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.form div {
	margin-bottom: 10px;
}
.listAutorizados {
	font-size: large;
	text-align: center;
	padding: 0;
}
.select {
	width: 100px;
}
.detail-container {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 500px;
}
.personal-detail{
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.personal-detail .MuiFormControl-root{
	margin: 10px 15px;
}
.personal-detail .MuiTypography-displayBlock{
	text-align: center;
}

@media screen and (min-width: 680px) {
	.studentsList {
		margin: 0px 40px;
		padding: 0 10px;
		min-width: 84%;
		overflow-x: auto;
	}
}
