li {
	list-style: none;
}

.header {
	font-size: larger;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	width: 100%;
	text-align: center;
}

.studentsList {
	margin: 0px 40px;
	padding: 0 10px;
}
.studentsList li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0px;
	padding: 0 10px;
	background-color: rgba(0, 0, 0, 0.1);
}
.studentsList h2{
  margin: 0;
  width: 200px;
}
.listInformation {
	display: flex;
}
.listInformation div {
	display: flex;
  flex-direction: column;
  margin: 0px 15px;
}
.listInformation h4{
  margin: 10px 5px;
}
.studentsList button {
	padding: 10px;
}

.searchBar{
	margin: 0px 50px;
	padding: 5px 0px;
	position: relative;
}
.searchBar img{
	position: absolute;
	left: 100%;
	transform: translateX(-100%);
	top: 5%;
	opacity: 0.4;
}
.searchBar img:hover{
	opacity: 0.8;
}
.search{
	font-size: large;
	width: 100%;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
}
input{
	max-width: 10rem;
	padding: 5px 15px;
	font-size: large;
}
#turma{
	text-align: center;
	font-size: larger;
}
label{
	margin:auto;
	margin-top: 8px;
}
.radio{
	display: flex;
	align-items: center;
	align-content: center;
}
.listAutorizados{
	margin: 0;
	padding: 0px 5px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	width: 10rem;
	text-align: center;
}
.listAutorizados li{
	margin: 3px;
}
button{
	margin: 10px;
	padding: 12px 30px;
	background-color: rgba(30, 168, 2, 0.7);
	color: rgb(39, 39, 39);
	font-size: large;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
button:last-of-type{
	color: rgb(219, 219, 219);
	background-color: rgba(255, 0, 0, 0.7);
}

.label{
	display: inline;
	margin: auto;
}
