li {
	list-style: none;
}

.header {
	font-size: larger;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	width: 100%;
	text-align: center;
}

.studentsList {
	margin: 0px 40px;
	padding: 0 10px;
}
.studentsList li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0px;
	padding: 0 10px;
	background-color: rgba(0, 0, 0, 0.1);
}
.studentsList h2{
  margin: 0;
  width: 200px;
}
.listInformation {
	display: flex;
}
.listInformation div {
	display: flex;
  flex-direction: column;
  margin: 0px 15px;
}
.listInformation h4{
  margin: 10px 5px;
}
.studentsList button {
	padding: 10px;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
